extends ./layout.jade

block title
  title User List

block content
  include ./partials/users.jade
//-
  div.container
    h1 All the Players!
    div.form-group
      label Search for a specific user:
      input.form-control(type="text" ng-model="nameFilter")
    ul
      if(users)
        each user in users
          li
            a(href="/users/#{user.username}") #{user.username}
    div.row
      div.col-md-11
        if(previousPage)
          a(href="/users?page=#{previousPage}" align='left') Page #{previousPage}
      if(nextPage)
        div.col-md-1
          a(href="/users?page=#{nextPage}" align='right') Page #{nextPage}

